#login{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-wrapper{
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -1px 1px 20px 0px rgba(0,0,0,0.75);
}

#login-img{
    position: relative;
    width: 50%;
    z-index: 1;
}

#login-img::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 99999;
    
}

#login-form{
    width: 50%;
    padding: 1em;
}

#login-form h1{
    margin-bottom: 1em;
    font-size: 4.7rem;
    font-weight: bold;
    text-align: center;
}


#login-form > input{
    width: 100%;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: 10px;
    padding: 0.7em 0.8em;
    margin-bottom: 1em; 
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


#login-form > input:focus{
    color: #495057;
    background-color: #fff;
    border-color: #000e14;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 13, 27, 0.25);
}

#login-actions{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#login-actions button{
    margin-top: 1em;
    border: 1px solid #495057;
    padding: 0.5em 0.7em;
    font-size: 1.2rem;
    font-weight: bold;
}

#login-actions button:hover{
    background-color: black;
    color: white;
    transition: all 1s;
}

#login-actions a{
    margin-top: 0.3em;
    color: #0f83ff;
}

#login-actions span{
    font-size: 0.9rem;
}