@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* Form Input */
    .form-input {
      @apply w-full p-3 text-gray-700 transition duration-150 ease-in-out border border-gray-300 rounded-lg;
    }
  
    .form-input:focus {
      @apply bg-white border-black shadow-md outline-none;
      box-shadow: 0 0 0 .2rem rgba(0, 13, 27, 0.25); /* Custom shadow for focus */
    }
  
    /* Form Button */
    .form-button {
      @apply p-2 mt-4 text-lg font-bold border border-gray-700 transition-all duration-700;
    }
  
    .form-button:hover {
      @apply text-white bg-black;
    }
  
    /* Navbar Icon */
    .nav-icon{
        @apply cursor-pointer px-9 py-2 active:border-blue-500 text-2xl active:text-blue-500  hover:text-blue-400 active:shadow-[0px_3px_0px_0px_rgba(59,_130,_246,_1)] hover:shadow-[0px_3px_0px_0px_rgba(96,_165,_250,_1)] transition-all duration-300
    }

  }

@layer base{
    html{
        @apply box-border overflow-x-hidden
    }
    body{
      @apply  bg-[#F0F2F5];
    }
}